body {
  background-color: #eee2df;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
}

h1 a {
  color: #593d3b;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #593d3b;
  font-weight: 400;
  margin: 0;
}

footer {
  font-size: 12px;
  text-align: center;
}

footer a {
  color: #b36a5e;
}

select {
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.container {
  background-color: #c89f9c;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgb(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin: 10px 0 15px;
  padding: 15px;
}

.city:last-child {
  border: none;
}

.date {
  font-size: 15px;
  opacity: 0.5;
}

.time {
  color: #593d3b;
  font-size: 38px;
  font-weight: 500;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 30px;
}

.cities-link a {
  color: black;
}
